In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('fake_job_postings.csv', index_col='job_id')
df.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
job_id,,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [7]:
finaldf=df.copy()

In [9]:
finaldf['missing_company_profile']=finaldf.company_profile.isnull().astype(int)
finaldf.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,missing_company_profile
job_id,,,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0,0
5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0,0

In [10]:
finaldf['missing_salary_range']=finaldf.company_profile.isnull().astype(int)
finaldf.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,missing_company_profile,missing_salary_range
job_id,,,,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0,0,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0,0,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0,0,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0,0,0
5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0,0,0

In [11]:
finaldf.fillna('na', inplace=True)
finaldf.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,missing_company_profile,missing_salary_range
job_id,,,,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,na,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,na,0,1,0,Other,Internship,na,na,Marketing,0,0,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,na,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,na,Marketing and Advertising,Customer Service,0,0,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",na,na,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,na,0,1,0,na,na,na,na,na,0,0,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,na,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0,0,0
5,Bill Review Manager,"US, FL, Fort Worth",na,na,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0,0,0

In [12]:
text_columns=['title','company_profile','description','requirements','benefits']
for column in text_columns:
    finaldf.loc[finaldf[column]=='na', column]=' '
finaldf

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,missing_company_profile,missing_salary_range
job_id,,,,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,na,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,,0,1,0,Other,Internship,na,na,Marketing,0,0,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,na,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,na,Marketing and Advertising,Customer Service,0,0,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",na,na,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,,0,1,0,na,na,na,na,na,0,0,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,na,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0,0,0
5,Bill Review Manager,"US, FL, Fort Worth",na,na,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0,0,0
6,Accounting Clerk,"US, MD,",na,na,,Job OverviewApex is an environmental consultin...,,,0,0,0,na,na,na,na,na,0,1,1
7,Head of Content (m/f),"DE, BE, Berlin",ANDROIDPIT,20000-28000,"Founded in 2009, the Fonpit AG rose with its i...",Your Responsibilities: Manage the English-spea...,Your Know-How: ...,Your Benefits: Being part of a fast-growing co...,0,1,1,Full-time,Mid-Senior level,Master's Degree,Online Media,Management,0,0,0
8,Lead Guest Service Specialist,"US, CA, San Francisco",na,na,Airenvy’s mission is to provide lucrative yet ...,Who is Airenvy?Hey there! We are seasoned entr...,"Experience with CRM software, live chat, and p...",Competitive Pay. You'll be able to eat steak e...,0,1,1,na,na,na,na,na,0,0,0
9,HP BSM SME,"US, FL, Pensacola",na,na,Solutions3 is a woman-owned small business who...,Implementation/Configuration/Testing/Training ...,MUST BE A US CITIZEN.An active TS/SCI clearanc...,,0,1,1,Full-time,Associate,na,Information Technology and Services,na,0,0,0
10,Customer Service Associate - Part Time,"US, AZ, Phoenix",na,na,"Novitex Enterprise Solutions, formerly Pitney ...",The Customer Service Associate will be based i...,Minimum Requirements:Minimum of 6 months custo...,,0,1,0,Part-time,Entry level,High School or equivalent,Financial Services,Customer Service,0,0,0
11,ASP.net Developer Job opportunity at United St...,"US, NJ, Jersey City",na,100000-120000,,Position : #URL_86fd830a95a64e2b30ceed829e63fd...,Position : #URL_86fd830a95a64e2b30ceed829e63fd...,Benefits - FullBonus Eligible - YesInterview T...,0,0,0,Full-time,Mid-Senior level,Bachelor's Degree,Information Technology and Services,Information Technology,0,1,1
12,Talent Sourcer (6 months fixed-term contract),"GB, LND, London",HR,na,Want to build a 21st century financial service...,TransferWise is the clever new way to move mon...,We’re looking for someone who:Proven track rec...,You will join one of Europe’s most hotly tippe...,0,1,0,na,na,na,na,na,0,0,0
13,"Applications Developer, Digital","US, CT, Stamford",na,na,"Novitex Enterprise Solutions, formerly Pitney ...","The Applications Developer, Digital will devel...",Requirements:4 – 5 years’ experience in develo...,,0,1,0,Full-time,Associate,Bachelor's Degree,Management Consulting,Information Technology,0,0,0
14,Installers,"US, FL, Orlando",na,na,Growing event production company providing sta...,"Event Industry Installers Needed!! (Orlando, F...","Valid driver's license,Somewhat Clean driving ...",,0,1,1,Full-time,Not Applicable,Unspecified,Events Services,Other,0,0,0
15,Account Executive - Sydney,"AU, NSW, Sydney",Sales,na,Adthena is the UK’s leading competitive intell...,Are you interested in a satisfying and financi...,You’ll need to be smart and passionate and hav...,"In return we'll pay you well, give you some ow...",0,1,0,Full-time,Associate,Bachelor's Degree,Internet,Sales,0,0,0
16,VP of Sales - Vault Dragon,"SG, 01, Singapore",Sales,120000-150000,Jungle Ventures is the leading Singapore based...,About Vault Dragon Vault Dragon is Dropbox for...,Key Superpowers3-5 years of high-pressure sale...,"Basic: SGD 120,000Equity negotiable for a rock...",0,1,1,Full-time,Executive,Bachelor's Degree,Facilities Services,Sales,0,0,0
17,Hands-On QA Leader,"IL, , Tel Aviv, Israel",R&D,na,At HoneyBook we’re re-imagining the events ind...,We are looking for a Hands-On QA Leader for ou...,Previous experience in client &amp; server tes...,,0,1,0,Full-time,Mid-Senior level,na,Internet,Engineering,0,0,0
18,Southend-on-Sea Traineeships Under NAS 16-18 Y...,"GB, SOS, Southend-on-Sea",na,na,Established on the principles that full time e...,Government funding is only available for 16-18...,16-18 year olds only due to government funding...,Career prospects.,0,1,1,na,na,na,na,na,0,0,0
19,Visual Designer,"US, NY, New York",na,na,Kettle is an independent digital agency based ...,Kettle is hiring a Visual Designer!Job Locatio...,,,0,1,0,na,na,na,na,na,0,0,0
20,Process Controls Engineer - DCS PLC MS Office ...,"US, PA, USA Northeast",na,na,We Provide Full Time Permanent Positions for m...,Experienced Process Controls Engineer is requi...,Must have 5 or more years of experience with D...,,0,0,0,Full-time,na,na,na,na,0,0,0
21,Marketing Assistant,"US, TX, Austin",na,na,IntelliBright was created to leverage enterpri...,IntelliBright is growing fast and is looking f...,Job RequirementsAssist in creating client onli...,,0,1,0,na,na,na,na,Marketing,0,0,0
22,Front End Developer,"NZ, N, Auckland",na,na,Frustrated with the status quo?Like to re-imag...,Want to be part of a globally focused tech tea...,You will most likely have:A solid mastery of m...,You will be part of an awesome team of innovat...,0,1,0,Full-time,Mid-Senior level,Master's Degree,Consumer Electronics,Engineering,0,0,0
23,Engagement Manager,"AE, ,",Engagement,na,Upstream’s mission is to revolutionise the way...,The position reports to the Head of Engagement...,RequirementsThe ideal candidate will be bright...,Salary &amp; BenefitsThe opportunity to learn ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Telecommunications,Sales,0,0,0
24,"Vice President, Sales and Sponsorship (Busines...","US, CA, Carlsbad",Businessfriend.com,100000-120000,"WDM Group is an innovative, forward thinking d...",#URL_eda2500ddcedb60957fcd7f5b164e092966f8c4e8...,"Job Requirements:A reputation as a ""go-getter""...",Businessfriend will offer a competitive six fi...,0,1,0,Full-time,Executive,Unspecified,Internet,Sales,0,0,0
25,Customer Service,"GB, LND, London",na,na,,We are a canary wharf based e-commerce company...,,,0,0,0,na,na,na,na,na,0,1,1
26,H1B SPONSOR FOR L1/L2/OPT,"US, NY, New York",na,na,i28 Technologies has demonstrated expertise in...,"Hello,Wish you are doing good... ...","JAVA, .NET, SQL, ORACLE, SAP, Informatica, Big...",,0,1,1,na,na,na,na,na,0,0,0
27,Marketing Exec,"SG, ,",Marketing,na,If working in a cubical seems like your idea o...,We are currently expanding our Marketing Depar...,"This position is Junior to Mid level. Ideally,...",We are looking for Singaporean residents or in...,0,1,0,Full-time,Associate,na,Online Media,Marketing,0,0,0
28,HAAD/DHA Licensed Doctors Opening in UAE,"AE, AZ, Abudhabi",Medical,na,We the Medical Recruitment Team of Roland and ...,HAAD/DHA Licensed Doctors Opening in UAEWe the...,RequirementsEndocrinologistGastroenterologistC...,Our client is one of the reputed and leading H...,0,1,0,Full-time,Associate,Master's Degree,Hospital & Health Care,Health Care Provider,0,0,0
29,Talent Management Process Manager,"US, MO, St. Louis",na,na,We Provide Full Time Permanent Positions for m...,(We have more than 1500+ Job openings in our w...,,,0,0,0,Full-time,na,na,Management Consulting,na,0,0,0
30,Customer Service Associate,"CA, ON, Toronto",na,na,"Novitex Enterprise Solutions, formerly Pitney ...",The Customer Service Associate will be based i...,Minimum Requirements:Minimum of 1 year custome...,,0,1,0,Full-time,Entry level,High School or equivalent,Consumer Services,Administrative,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17851,North West Level 2 and 3 DGV NVQ Assessors Under,"GB, MAN, Manchester",na,na,Established on the principles that full time e...,We are looking for experienced assessor in the...,"Assessor Award (A1, TAQA, etc) Own transport.",,0,1,1,Full-time,Associate,Vocational,Logistics and Supply Chain,Training,0,0,0
17852,Warehouse Operator / Material Handler,"US, IA, Cedar Rapids",na,na,"Red Star Yeast Company LLC (RSYC), a leader in...",Red Star Yeast Co. LLC in Cedar Rapids is now ...,Requires ability to become forklift certified....,"Shift Schedule: Day Shift Monday – Friday, wit...",0,1,1,Full-time,Entry level,High School or equivalent,Food Production,Supply Chain,0,0,0
17853,GWT Expert,"FI, , Turku",na,na,,GWT ExpertWe are experiencing a rapid worldwid...,,,0,1,0,Full-time,na,na,Information Technology and Services,na,0,1,1
17854,Call Center/Customer Service,"US, NJ, Newark",Customer Service,na,At Command we care enough to consistently plac...,At Command we care enough to consistently plac...,Responsibilities:Determines requirements by wo...,Benefits:15/hr (non-negotiable)Medical/dental ...,0,1,1,na,na,na,na,na,0,0,0
17855,Talent Management Process Manager,"US, OH, Cincinnati",na,na,We Provide Full Time Permanent Positions for m...,(We have more than 1500+ Job openings in our w...,,,0,0,0,Full-time,na,na,na,na,0,0,0
17856,Android Engineer,"US, CA, San Francisco",Engineering,na,"Shyp is the easiest way to send anything, anyw...",What we're looking for:You've been an integral...,Track record of developing native Android appl...,,0,1,0,na,na,na,na,Engineering,0,0,0
17857,Web Developer - Marketing,"IE, L, Dublin",na,na,Intercom (#URL_cb674f93cbcd215a3a0a57a8615a565...,Intercom (#URL_cb674f93cbcd215a3a0a57a8615a565...,Must haves:You will be an expert in turning wi...,"Work on great hardware (macbook air or pro, wi...",0,1,0,Full-time,Not Applicable,na,Computer Software,Information Technology,0,0,0
17858,Chief Technology Officer (CTO) for a fast grow...,"GR, I, Kifissia",na,na,,If you want to join a fast growing start-up as...,To be able to lead the technical side of our s...,,0,0,0,Full-time,na,Bachelor's Degree,Hospitality,Information Technology,0,1,1
17859,Pharmaceutical Senior Project Manager Consultant,"US, PA, Horsham",na,na,Keen360 helps organizations to design strategi...,Our Pharmaceutical client has engaged us to pr...,Job RequirementsThe ideal candidate will be a ...,,0,1,0,Contract,Mid-Senior level,Bachelor's Degree,Pharmaceuticals,Project Management,0,0,0
17860,Immediate Requirement: iOS Developer for Qatar,"QA, DA,",na,na,,Greetings from VAM SYSTEMS…..VAM SYSTEMS is a ...,"iOS programming “Objective – C “, C++#URL_01a...",,0,0,1,na,na,na,na,na,0,1,1
17861,Sr. SQL Server DBA,"US, CA, Bay Area",na,na,,Position: Sr. SQL Server DBALocation: Bay Area...,Provide 24x7 on-call support,,0,1,0,Contract,Mid-Senior level,Unspecified,Information Technology and Services,Information Technology,0,1,1
17862,Junior Embedded Engineer,"GR, A, Komotini",na,na,"Tribe Wearables is a venture-backed startup, d...",WHO WE ARETribe Wearables is a venture-backed ...,Skills we are looking for:BSc degree in Comput...,Fun and stimulating working environmentWork wi...,0,1,0,Full-time,Entry level,Bachelor's Degree,Computer Hardware,Engineering,0,0,0
17863,Clinical Supervisor,"US, SC, GREENVILLE",na,na,Crossroads Treatment Centers is a nationally-a...,Crossroads Treatment Centers in South Carolina...,Four-year degree in counseling or related fiel...,Crossroads offers a comprehensive benefits pac...,0,1,1,Full-time,Associate,Bachelor's Degree,Medical Practice,Health Care Provider,0,0,0
17864,Implementation Support Specialist,"US, IA, Dubuque",Services,na,"We design, build, sell, and service the most i...",WANTED: an Implementation Support Specialist w...,Who you are…• You know the ins-and-outs of Mic...,,0,1,0,Full-time,na,na,Computer Software,na,0,0,0
17865,Next Generation Depth Sensing,"US, MA, Cambridge",MM,na,MERL's internship program gives students excel...,MERL is looking for a well qualified individua...,,,0,1,1,na,na,na,na,na,0,0,0
17866,Portfolio Development Associate - Paris & rest...,"GB, LND, London",Sales,18000-20000,We're hiring!AvenueStory is a concept driven b...,"AvenueStory is looking for a curious, ambitiou...","Comfortable on the phone, fluent in French and...","Working within a small, young dynamic team in ...",0,1,1,Full-time,Entry level,Bachelor's Degree,Real Estate,Sales,0,0,0
17867,Post Production Editor,"US, IA, West Des Moines",na,na,"Stories by RELFrom 5,000 feet, we look like a ...",Key Duties:• Rough cut shows on Adobe Premier ...,"Additional Duties:• Ingest, log and label foot...",Salary and benefits package is negotiable base...,0,1,0,Full-time,Mid-Senior level,na,Motion Pictures and Film,Production,0,0,0
17868,Admin Assistant,"GB, WSX, Chichester",Sales,18000-19000,,We are seeking an administrator to work in a b...,Proficient experience in Microsoft Word and Ex...,"Salary £18,000Commission available after quali...",0,1,0,Full-time,Entry level,Unspecified,Human Resources,Sales,0,1,1
17869,CNC Programmer,"US, OH, Cincinnati",na,na,We Provide Full Time Permanent Positions for m...,(We have more than 1500+ Job openings in our w...,,,0,0,0,Full-time,na,na,na,na,0,0,0
17870,Sr Technical Lead LIMS,"US, DE, Wilmington",na,na,,Job Title: Sr Technical LeadSalary: OpenDurat...,Responsibilities: He should be extensive knowl...,,0,0,0,Full-time,na,na,Pharmaceuticals,na,0,1,1
17871,Senior Financial Analyst (Retail),"US, CA, Gardena",na,na,PROSULTING IS PEOPLE The ProSulting difference...,We are activity searching for a Senior Financi...,Must have a minimum of 3 + years in Financial ...,,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Retail,Financial Analyst,0,0,0
17872,Water Truck Driver,"US, PA, Waynesburg",na,na,Valor Services provides Workforce Solutions th...,Requires skilled work in operating commercial ...,GED or diploma required.Requires minimum of on...,,0,1,1,Full-time,na,na,Oil & Energy,na,0,0,0
17873,Product Manager,"US, CA, San Francisco",Product Development,na,Flite delivers ad innovation at scale to the w...,Flite's SaaS display ad platform fuels the wor...,BA/BS in Computer Science or a related technic...,Competitive baseAttractive stock option planMe...,0,1,0,Full-time,na,na,Internet,Product Management,0,0,0
17874,Recruiting Coordinator,"US, NC, Charlotte",na,na,,RESPONSIBILITIES:Will facilitate the recruitin...,REQUIRED SKILLS:Associates Degree or a combina...,,0,1,0,Contract,na,na,Utilities,na,0,1,1
17875,JavaScript Developer,"US, ,",na,80000-100000,,"Sr, JavaScript Developer Experience : 4-10 yea...",,,0,0,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Information Technology,0,1,1
17876,Account Director - Distribution,"CA, ON, Toronto",Sales,na,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,na,Computer Software,Sales,0,0,0
17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,na,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0,0,0
17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",na,na,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,,0,0,0,Full-time,na,na,na,na,0,0,0
17879,Graphic Designer,"NG, LA, Lagos",na,na,,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0,1,1
17880,Web Application Developers,"NZ, N, Wellington",Engineering,na,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,,0,1,1,Full-time,Mid-Senior level,na,Computer Software,Engineering,0,0,0

In [13]:
finaldf['title_mention_$']=finaldf.title.str.contains('$', regex=False).astype(int)
finaldf.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,missing_company_profile,missing_salary_range,title_mention_$
job_id,,,,,,,,,,,,,,,,,,,,
1,Marketing Intern,"US, NY, New York",Marketing,na,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,,0,1,0,Other,Internship,na,na,Marketing,0,0,0,0
2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,na,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,na,Marketing and Advertising,Customer Service,0,0,0,0
3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",na,na,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,,0,1,0,na,na,na,na,na,0,0,0,0
4,Account Executive - Washington DC,"US, DC, Washington",Sales,na,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0,0,0,0
5,Bill Review Manager,"US, FL, Fort Worth",na,na,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0,0,0,0

In [14]:
def location_transform(location):
    country_list=['US','GB','CA','DE','NZ','AU','IN','MY','na']
    country=location[:2]
    if country in country_list:
        return country
    else:
        return 'other'
    
finaldf.location=finaldf.apply(lambda x: location_transform(x['location']), axis=1)
finaldf.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,missing_company_profile,missing_salary_range,title_mention_$
job_id,,,,,,,,,,,,,,,,,,,,
1,Marketing Intern,US,Marketing,na,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,,0,1,0,Other,Internship,na,na,Marketing,0,0,0,0
2,Customer Service - Cloud Video Production,NZ,Success,na,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,na,Marketing and Advertising,Customer Service,0,0,0,0
3,Commissioning Machinery Assistant (CMA),US,na,na,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,,0,1,0,na,na,na,na,na,0,0,0,0
4,Account Executive - Washington DC,US,Sales,na,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0,0,0,0
5,Bill Review Manager,US,na,na,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0,0,0,0

In [15]:
finaldf.location.value_counts()

US       10656
other     2810
GB        2384
CA         457
DE         383
na         346
NZ         333
IN         276
AU         214
MY          21
Name: location, dtype: int64

In [16]:
finaldf['text']=finaldf.title+' '+finaldf.company_profile+' '+finaldf.description+' '+finaldf.requirements+' '+finaldf.benefits
finaldf['email_link']=finaldf.text.str.contains('#EMAIL', regex=False).astype(int)
finaldf['phone_link']=finaldf.text.str.contains('#PHONE', regex=False).astype(int)
finaldf.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,...,required_education,industry,function,fraudulent,missing_company_profile,missing_salary_range,title_mention_$,text,email_link,phone_link
job_id,,,,,,,,,,,,,,,,,,,,,
1,Marketing Intern,US,Marketing,na,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,,0,1,...,na,na,Marketing,0,0,0,0,"Marketing Intern We're Food52, and we've creat...",0,0
2,Customer Service - Cloud Video Production,NZ,Success,na,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,...,na,Marketing and Advertising,Customer Service,0,0,0,0,Customer Service - Cloud Video Production 90 S...,0,0
3,Commissioning Machinery Assistant (CMA),US,na,na,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,,0,1,...,na,na,na,0,0,0,0,Commissioning Machinery Assistant (CMA) Valor ...,0,0
4,Account Executive - Washington DC,US,Sales,na,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,...,Bachelor's Degree,Computer Software,Sales,0,0,0,0,Account Executive - Washington DC Our passion ...,0,0
5,Bill Review Manager,US,na,na,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,...,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0,0,0,0,Bill Review Manager SpotSource Solutions LLC i...,0,1

In [22]:
print(finaldf['telecommuting'].unique())
print(finaldf['has_company_logo'].unique())
print(finaldf['has_questions'].unique())
print(finaldf['missing_company_profile'].unique())
print(finaldf['missing_salary_range'].unique())
print(finaldf['title_mention_$'].unique())
print(finaldf['email_link'].unique())
print(finaldf['phone_link'].unique())

[0 1]
[1 0]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]
[0 1]

In [12]:
import math
finaldf['text_length']=finaldf.apply(lambda x: math.log(len(x['text'])+1), axis=1)

In [13]:
from bs4 import BeautifulSoup
import spacy
import unidecode
from word2number import w2n
import contractions

nlp = spacy.load("en_core_web_sm")

# exclude words from spacy stopwords li
deselect_stop_words = ['no', 'not']
for w in deselect_stop_words:
    nlp.vocab[w].is_stop = False


def strip_html_tags(text):
    """remove html tags from text"""
    soup = BeautifulSoup(text, "html.parser")
    stripped_text = soup.get_text(separator=" ")
    return stripped_text


def remove_whitespace(text):
    """remove extra whitespaces from text"""
    text = text.strip()
    return " ".join(text.split())


def remove_accented_chars(text):
    """remove accented characters from text, e.g. café"""
    text = unidecode.unidecode(text)
    return text


def expand_contractions(text):
    """expand shortened words, e.g. don't to do not"""
    text = contractions.fix(text)
    return text


def text_preprocessing(text, accented_chars=True, contractions=True, 
                       convert_num=True, extra_whitespace=True, 
                       lemmatization=True, lowercase=True, punctuations=True,
                       remove_html=True, remove_num=True, special_chars=True, 
                       stop_words=True):
    """preprocess text with default option set to true for all steps"""
    if remove_html == True: #remove html tags
        text = strip_html_tags(text)
    if extra_whitespace == True: #remove extra whitespaces
        text = remove_whitespace(text)
    if accented_chars == True: #remove accented characters
        text = remove_accented_chars(text)
    if contractions == True: #expand contractions
        text = expand_contractions(text)
    if lowercase == True: #convert all characters to lowercase
        text = text.lower()

    doc = nlp(text) #tokenise text

    clean_text = []
    
    for token in doc:
        flag = True
        edit = token.text
        # remove stop words
        if stop_words == True and token.is_stop and token.pos_ != 'NUM': 
            flag = False
        # remove punctuations
        if punctuations == True and token.pos_ == 'PUNCT' and flag == True: 
            flag = False
        # remove special characters
        if special_chars == True and token.pos_ == 'SYM' and flag == True: 
            flag = False
        # remove numbers
        if remove_num == True and (token.pos_ == 'NUM' or token.text.isnumeric()) \
        and flag == True:
            flag = False
        # convert number words to numeric numbers
        if convert_num == True and token.pos_ == 'NUM' and flag == True:
            edit = w2n.word_to_num(token.text)
        # convert tokens to base form
        elif lemmatization == True and token.lemma_ != "-PRON-" and flag == True:
            edit = token.lemma_
        # append tokens edited and not removed to list 
        if edit != "" and flag == True:
            clean_text.append(edit)        
    return clean_text

C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [14]:
finaldf['cleaned_text']=finaldf.apply(lambda x: text_preprocessing(x['text']), axis=1)
finaldf['cleaned_text']=finaldf.apply(lambda x: " ".join(x['cleaned_text']), axis=1)

In [15]:
##finaldf.to_csv("cleaned_data.csv")

In [16]:
#finaldf=pd.read_csv("cleaned_data.csv")
#finaldf.head()

In [17]:
def find_category_mappings(finaldf, variable):
    return {k: i for i, k in enumerate(finaldf[variable].unique())}
def integer_encode(finaldf,variable, ordinal_mapping):
    finaldf[variable+"_new"] = finaldf[variable].map(ordinal_mapping)
for variable in ['location','employment_type','required_experience','required_education','industry','function']:
    mappings = find_category_mappings(finaldf,variable)
    integer_encode(finaldf, variable, mappings)
finaldf.head()

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,...,email_link,phone_link,text_length,cleaned_text,location_new,employment_type_new,required_experience_new,required_education_new,industry_new,function_new
job_id,,,,,,,,,,,,,,,,,,,,,
1,Marketing Intern,US,Marketing,na,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,,0,1,...,0,0,7.887584,marketing intern food52 create groundbreaking ...,0,0,0,0,0,0
2,Customer Service - Cloud Video Production,NZ,Success,na,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,...,0,0,8.721602,customer service cloud video production second...,1,1,1,0,1,1
3,Commissioning Machinery Assistant (CMA),US,na,na,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,,0,1,...,0,0,7.879291,commission machinery assistant cma valor servi...,0,2,2,0,0,2
4,Account Executive - Washington DC,US,Sales,na,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,...,0,0,8.605753,account executive washington dc passion improv...,0,1,3,1,2,3
5,Bill Review Manager,US,na,na,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,...,0,1,8.281471,bill review manager spotsource solution llc gl...,0,1,3,1,3,4

In [18]:
X=finaldf.drop(['text','location','employment_type','required_experience','required_education','industry','function','fraudulent','title','department','salary_range','company_profile','description','requirements','benefits'], axis=1)
X

,telecommuting,has_company_logo,has_questions,missing_company_profile,missing_salary_range,title_mention_$,email_link,phone_link,text_length,cleaned_text,location_new,employment_type_new,required_experience_new,required_education_new,industry_new,function_new
job_id,,,,,,,,,,,,,,,,
1,0,1,0,0,0,0,0,0,7.887584,marketing intern food52 create groundbreaking ...,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,8.721602,customer service cloud video production second...,1,1,1,0,1,1
3,0,1,0,0,0,0,0,0,7.879291,commission machinery assistant cma valor servi...,0,2,2,0,0,2
4,0,1,0,0,0,0,0,0,8.605753,account executive washington dc passion improv...,0,1,3,1,2,3
5,0,1,1,0,0,0,0,1,8.281471,bill review manager spotsource solution llc gl...,0,1,3,1,3,4
6,0,0,0,1,1,0,0,0,8.143808,accounting clerk job overviewapex environmenta...,0,2,2,0,0,2
7,0,1,1,0,0,0,0,0,7.849324,head content m f found fonpit ag rise internat...,2,1,3,2,4,5
8,0,1,1,0,0,0,0,0,8.433377,lead guest service specialist airenvy mission ...,0,2,2,0,0,2
9,0,1,1,0,0,0,0,0,7.503290,hp bsm sme solutions3 woman own small business...,0,1,4,0,5,2
10,0,1,0,0,0,0,0,0,7.907284,customer service associate time novitex enterp...,0,3,5,3,6,1
11,0,0,0,1,1,0,1,0,8.681181,asp.net developer job opportunity united state...,0,1,3,1,5,6
12,0,1,0,0,0,0,0,0,7.925519,talent sourcer month fix term contract want bu...,3,2,2,0,0,2
13,0,1,0,0,0,0,0,0,8.099554,application developer digital novitex enterpri...,0,1,4,1,7,6
14,0,1,1,0,0,0,0,0,7.472501,installer grow event production company provid...,0,1,1,4,8,7
15,0,1,0,0,0,0,0,0,7.703459,account executive sydney adthena uk lead compe...,4,1,4,1,9,3
16,0,1,1,0,0,0,0,0,8.483430,vp sale vault dragon jungle venture lead singa...,5,1,6,1,10,3
17,0,1,0,0,0,0,0,0,7.077498,hand qa leader honeybook - imagine event indus...,5,1,3,0,9,8
18,0,1,1,0,0,0,0,0,7.217443,southend sea traineeship nas year old establis...,3,2,2,0,0,2
19,0,1,0,0,0,0,0,0,7.584265,visual designer kettle independent digital age...,0,2,2,0,0,2
20,0,0,0,0,0,0,0,0,7.988882,process control engineer dcs plc ms office pa ...,0,1,2,0,0,2
21,0,1,0,0,0,0,0,0,8.141481,marketing assistant intellibright create lever...,0,2,2,0,0,0
22,0,1,0,0,0,0,0,0,8.465057,end developer frustrate status quo?like - imag...,1,1,3,2,11,8
23,0,1,1,0,0,0,0,0,8.584291,engagement manager upstream mission revolution...,5,1,3,1,12,3
24,0,1,0,0,0,0,0,0,8.223895,vice president sale sponsorship businessfriend...,0,1,6,4,9,3
25,0,0,0,1,1,0,0,0,6.030685,customer service canary wharf base e - commerc...,3,2,2,0,0,2
26,0,1,1,0,0,0,1,0,8.873888,h1b sponsor l1 l2 opt i28 technology demonstra...,0,2,2,0,0,2
27,0,1,0,0,0,0,0,0,7.613325,marketing exec work cubical like idea hell joi...,5,1,4,0,4,0
28,0,1,0,0,0,0,1,0,7.544332,haad dha license doctor open uae medical recru...,5,1,4,2,3,4
29,0,0,0,0,0,0,0,0,7.583248,talent management process manager provide time...,0,1,2,0,7,2
30,0,1,0,0,0,0,0,0,7.905810,customer service associate novitex enterprise ...,6,1,5,3,13,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17851,0,1,1,0,0,0,0,0,7.168580,north west level dgv nvq assessor establish pr...,3,1,4,6,47,35
17852,0,1,1,0,0,0,0,0,8.264363,warehouse operator material handler red star y...,0,1,5,3,20,13
17853,0,1,0,1,1,0,0,0,7.081709,gwt expert gwt expertwe experience rapid world...,5,1,2,0,5,2
17854,0,1,1,0,0,0,0,0,7.083388,center customer service command care consisten...,0,2,2,0,0,2
17855,0,0,0,0,0,0,0,0,7.583248,talent management process manager provide time...,0,1,2,0,0,2
17856,0,1,0,0,0,0,0,0,7.404888,android engineer shyp easy way send anywhere.h...,0,2,2,0,0,8
17857,0,1,0,0,0,0,0,0,8.449984,web developer marketing intercom url_cb674f93c...,5,1,1,0,2,6
17858,0,0,0,1,1,0,0,0,7.393263,chief technology officer cto fast grow hospita...,5,1,2,1,40,6
17859,0,1,0,0,0,0,0,0,7.817223,pharmaceutical senior project manager consulta...,0,4,3,1,29,19
17860,0,0,1,1,1,0,0,0,6.843750,immediate requirement io developer qatar greet...,5,2,2,0,0,2
17861,0,1,0,1,1,0,0,0,7.043160,sr sql server dba position sr sql server dbalo...,0,4,3,4,5,6
17862,0,1,0,0,0,0,0,0,8.004700,junior embed engineer tribe wearable venture b...,5,1,5,1,80,8
17863,0,1,1,0,0,0,0,0,7.680637,clinical supervisor crossroad treatment center...,0,1,4,1,38,4
17864,0,1,0,0,0,0,0,0,7.712444,implementation support specialist design build...,0,1,2,0,2,2
17865,0,1,1,0,0,0,0,0,7.698483,generation depth sensing merl internship progr...,0,2,2,0,0,2
17866,0,1,1,0,0,0,0,0,8.106816,portfolio development associate paris & rest f...,3,1,5,1,34,3
17867,0,1,0,0,0,0,0,0,7.863267,post production editor story relfrom foot look...,0,1,3,0,98,11
17868,0,1,0,1,1,0,0,0,6.720220,admin assistant seek administrator work busy s...,3,1,5,4,28,3
17869,0,0,0,0,0,0,0,0,7.022868,cnc programmer provide time permanent position...,0,1,2,0,0,2
17870,0,0,0,1,1,0,0,0,6.651572,sr technical lead lim job title sr technical l...,0,1,2,0,29,2
17871,0,1,1,0,0,0,0,0,7.901748,senior financial analyst retail prosulte peopl...,0,1,3,1,59,16
17872,0,1,1,0,0,0,0,0,7.781139,water truck driver valor service provide workf...,0,1,2,0,15,2
17873,0,1,0,0,0,0,0,0,7.867489,product manager flite deliver ad innovation sc...,0,1,2,0,9,15
17874,0,1,0,1,1,0,0,0,7.634821,recruit coordinator responsibility facilitate ...,0,4,2,0,45,2
17875,0,0,0,1,1,0,0,0,6.218600,javascript developer sr javascript developer e...,0,1,3,1,2,6
17876,0,1,1,0,0,0,0,0,8.578665,account director distribution vend look awesom...,6,1,3,0,2,3
17877,0,1,1,0,0,0,0,0,8.464003,payroll accountant weblinc e - commerce platfo...,0,1,3,1,9,27
17878,0,0,0,0,0,0,0,0,7.944137,project cost control staff engineer cost contr...,0,1,2,0,0,2
17879,0,0,1,1,1,0,0,0,7.127694,graphic designer nemsia studio look experience...,5,4,1,9,83,10
17880,0,1,1,0,0,0,0,0,8.434898,web application developer vend look awesome ne...,1,1,3,0,2,8

In [19]:
y=finaldf['fraudulent']
y

job_id
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
30       0
        ..
17851    0
17852    0
17853    0
17854    0
17855    0
17856    0
17857    0
17858    0
17859    0
17860    0
17861    0
17862    0
17863    0
17864    0
17865    0
17866    0
17867    0
17868    0
17869    0
17870    0
17871    0
17872    0
17873    0
17874    0
17875    0
17876    0
17877    0
17878    0
17879    0
17880    0
Name: fraudulent, Length: 17880, dtype: int64

In [20]:
#X.to_csv("x.csv")

In [21]:
#y.to_csv("y.csv")

In [44]:
#test=X.iloc[0:1,:]
#test.to_csv("test.csv")

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.25, random_state=50, stratify=y)

In [24]:
X_train.iloc[0::3].append(X_train[y_train==1])

,telecommuting,has_company_logo,has_questions,missing_company_profile,missing_salary_range,title_mention_$,email_link,phone_link,text_length,cleaned_text,location_new,employment_type_new,required_experience_new,required_education_new,industry_new,function_new
job_id,,,,,,,,,,,,,,,,
2669,0,1,0,0,0,0,0,0,8.382061,account manager acknowledgement help brand org...,3,1,2,0,2,19
647,0,1,0,0,0,0,0,0,7.796880,digital marketing manager uni baggage no.1 stu...,3,1,3,1,1,0
1864,0,1,0,0,0,0,0,0,7.773594,staff coordinator super soccer star country po...,0,1,4,1,60,22
10401,0,1,1,0,0,0,0,0,7.866339,minnesota communication assistant csd?csd not ...,0,3,5,3,12,1
16267,0,1,1,0,0,0,0,0,8.091015,journeyman carpenter community action partners...,0,1,4,0,78,2
5293,0,1,1,0,0,0,1,0,7.692570,key account manager provide fresh perspective ...,5,2,2,0,0,2
4406,0,1,1,0,0,0,1,0,7.226209,recruitment consultant construction agensi pek...,8,1,5,1,14,17
869,0,1,1,0,0,0,0,0,7.658700,community manager tradable award win platform ...,5,3,5,0,2,2
10505,0,1,1,0,0,0,0,0,7.928046,mortgage heloc underwriter outstanding member ...,0,1,4,0,6,24
14812,0,1,0,0,0,0,0,0,8.115222,backend developer php union digital marketing ...,0,1,2,0,1,6
12351,0,1,0,0,0,0,0,0,8.093157,quality assurance engineer base san francisco ...,5,1,4,8,9,8
1400,0,1,1,0,0,0,0,0,8.228711,sale & marketing internship want help people s...,0,0,0,5,23,26
2087,0,1,0,0,0,0,0,0,7.063904,web developer zylun expand recruiting landscap...,5,1,2,2,25,6
633,0,1,0,0,0,0,0,0,8.040447,senior territory manager recombine provide cli...,0,1,4,1,67,3
2789,1,1,0,0,0,0,0,0,7.346655,administrative assistant ideal crm sale consul...,0,1,5,3,1,9
5746,0,1,1,0,0,0,0,0,7.450080,infrastructure control manager pension uk base...,3,1,2,4,6,6
1187,0,0,1,0,0,0,0,0,7.771489,field service technician harrigan solution hel...,0,1,2,3,0,2
17829,0,0,1,1,1,0,0,0,7.106606,sale associate learn earn executive level inco...,4,2,2,0,0,2
8866,0,1,0,0,0,0,0,0,7.958227,data entry clerk ii novitex enterprise solutio...,0,1,5,3,13,1
14475,0,1,0,0,0,0,0,0,7.645398,web designer developer yazamo rapidly grow dig...,0,1,3,0,1,10
15050,0,1,1,0,0,0,0,0,7.586296,junior php developer m f optimy fast grow comp...,5,1,5,0,2,2
8009,0,0,0,1,1,0,0,0,6.595781,peoplesoft crm consultant business analyst peo...,0,1,6,1,5,6
13378,0,0,0,1,1,0,0,0,8.006034,qa engineer xamarin mobile & web no recruiter ...,0,1,3,1,2,29
7735,0,1,1,0,0,0,0,0,8.437500,community event manager found daniel tenner pa...,3,1,2,0,0,0
16490,0,1,0,0,0,0,0,0,7.848543,jr engineer tech valor service provide workfor...,0,2,2,0,0,2
5254,0,1,0,0,0,0,0,0,7.690286,contract sale representative o|miga different ...,0,4,2,1,0,3
13997,0,1,1,0,0,0,0,0,7.942007,weekend caregiver charming old woman unite cer...,0,3,5,3,68,4
11889,0,0,0,0,0,0,0,0,6.872128,mechanical engineer provide time permanent pos...,0,1,2,0,0,2
9199,0,0,0,0,0,0,0,0,6.805723,manufacture engineering lean manufacture cedar...,0,1,3,1,39,8
16498,0,1,0,0,0,0,0,0,8.114025,insurance administrator tidewater finance co. ...,0,1,5,0,6,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267,1,1,0,0,0,0,0,0,6.971669,customer service representative american secur...,0,1,5,3,22,1
3327,1,0,0,1,1,0,1,0,6.930495,customer assistant job description look custom...,6,2,2,0,0,2
4449,0,0,0,1,1,0,0,0,8.513587,oil gas asset manager position summarythe asse...,0,1,2,0,15,8
8723,0,0,0,1,1,0,0,0,8.008698,hire business intelligence analytic project ma...,0,1,3,0,5,6
9832,0,1,1,0,0,0,1,1,8.335671,plant operator macpherson oil refined resource...,0,1,3,3,15,7
998,0,1,0,0,0,0,0,0,7.662468,executive sous chef le meridien situate heart ...,9,4,6,0,40,2
2015,0,0,1,1,1,0,0,0,6.591674,assistant account position exciting opportunit...,4,3,2,0,0,2
17830,0,0,0,1,1,0,0,0,7.386471,android developer infullmobile sp z o.o mobile...,5,2,2,0,0,2
4355,0,0,0,1,1,0,0,0,7.965893,management system administrator corporate over...,0,2,2,0,15,8
17831,0,0,0,1,1,0,0,0,6.674561,payroll clerk job descriptionwe seek time payr...,0,1,2,0,54,27
7178,0,1,1,0,0,0,0,0,7.995980,fraud detection analyst industry large supply ...,0,1,3,3,58,31
16803,0,1,0,0,0,0,0,0,7.724447,compliance specialist maynard consult company ...,0,4,4,1,67,27
7667,1,0,0,1,1,0,0,0,6.693324,datum entry typist seek individual connect com...,0,2,5,11,0,9
5530,0,0,0,1,1,0,0,0,6.335054,datum administrative position look time self s...,0,1,1,4,0,9
6636,0,0,0,1,1,0,0,0,8.003029,executive chef responsible food production inc...,9,2,2,0,0,2
17589,0,0,0,1,1,1,1,0,7.535297,payroll data entry clerk position earn daily j...,0,1,1,3,25,9
8684,0,1,0,0,0,0,0,0,7.710205,payroll clerk dyncorp international commitment...,0,1,5,3,50,24
4537,1,1,0,0,0,0,0,0,7.075809,customer service representative gary cartwrigh...,0,1,5,3,34,1
815,0,1,1,0,0,0,0,0,8.117014,project manager engineer staffing & recruiting...,0,1,3,1,15,19
5027,0,0,0,1,1,0,1,0,7.582229,administrative worker want commit wellbeing pl...,3,2,2,0,0,2
17818,0,0,0,1,1,0,0,0,5.283204,csr hire csr advertising representative work h...,0,3,5,0,4,2
17754,0,0,0,1,1,0,0,0,6.828712,network marketing look month look pay vacation...,0,1,1,4,1,0
6575,0,0,1,1,1,0,0,0,5.484797,home base commission role variety commission b...,0,0,2,4,1,7
14271,0,0,0,1,1,0,0,0,3.784190,northwestern hospital build website,8,2,2,0,0,2
3368,0,0,0,1,1,0,0,0,7.979339,executive chef responsible food production inc...,9,4,6,0,40,2
5444,0,1,1,0,0,0,0,0,6.833032,control engineer st louis mo system technology...,0,1,3,8,43,8
11767,0,1,1,0,0,0,0,0,8.491670,customer success district manager aptitude sta...,0,1,3,1,5,14
3942,1,1,0,0,0,0,0,0,7.075809,customer service representative gary cartwrigh...,0,1,5,3,34,1
17576,0,0,0,1,1,0,0,0,6.033086,customer service rep seek customer service rep...,0,1,2,0,0,1
17689,0,0,0,1,1,0,0,0,7.001246,user experience designer | mobile look ux desi...,7,1,3,2,48,28

In [25]:
X_train[y_train==1]

,telecommuting,has_company_logo,has_questions,missing_company_profile,missing_salary_range,title_mention_$,email_link,phone_link,text_length,cleaned_text,location_new,employment_type_new,required_experience_new,required_education_new,industry_new,function_new
job_id,,,,,,,,,,,,,,,,
17829,0,0,1,1,1,0,0,0,7.106606,sale associate learn earn executive level inco...,4,2,2,0,0,2
3610,1,1,0,0,0,0,0,0,7.075809,customer service representative gary cartwrigh...,0,1,5,3,34,1
2445,0,0,1,1,1,0,1,1,7.483244,urgent requirement position technical lead rho...,0,4,3,1,5,6
174,0,1,1,0,0,0,1,1,8.793764,technician instrument & control edison interna...,0,1,3,7,39,7
9879,0,1,1,0,0,0,1,1,8.526153,ic&e technician dte energy refined resource pa...,0,1,3,3,15,7
11758,0,1,1,0,0,0,1,0,8.066835,utc lead test technician staffing & recruiting...,0,1,3,7,15,7
17637,0,0,0,1,1,0,0,0,6.232448,weekend staff need time cash job weekend staff...,0,3,2,0,0,2
5523,0,0,0,1,1,0,1,0,7.007601,home base payroll typist datum entry clerk pos...,0,2,2,0,0,2
17639,0,0,1,1,1,0,0,0,7.857868,administrative assistant office assistant comp...,0,1,5,3,50,9
17694,0,0,0,0,0,0,0,0,6.507278,appointment setter look adventurous people joi...,0,4,5,4,43,1
7571,0,1,1,0,0,0,0,0,7.368340,production assistant found group short year ea...,0,1,1,4,55,20
9258,0,0,0,1,1,0,0,0,8.122965,cad operator corporate overviewaker solution g...,0,2,2,0,14,10
9843,0,1,1,0,0,0,1,1,8.542471,client service manager ny ny # url_ddb080358fa...,0,1,3,1,1,17
5760,0,1,0,0,0,1,0,0,7.518607,"agency sale manager 150-$175,000 yr aggressive...",8,1,4,3,6,3
17703,0,0,0,1,1,0,0,0,8.427706,journeyman electrician 2175job title journeyma...,0,1,2,0,0,2
6576,0,0,0,1,1,0,0,0,9.185433,project subcontracting manager corporate overv...,0,2,2,0,15,19
2978,0,0,1,1,1,0,1,0,7.744570,administrative assistant customer service entr...,0,1,5,3,50,27
4054,0,0,0,1,1,0,0,0,6.079933,datum entry receptionist company seek applicat...,0,1,5,0,50,9
17723,0,0,0,1,1,0,0,0,7.402452,administrative assistance look person strong w...,0,0,5,3,50,9
17663,0,0,0,1,1,0,0,0,6.905753,iserie team lead position iserie team leadloca...,0,4,3,0,5,6
6231,0,0,1,1,1,0,0,0,7.234177,travel agent advantage xpo advantage resource ...,0,1,2,3,0,2
8950,0,1,0,0,0,0,0,0,8.180881,production engineer aker solution global provi...,0,1,2,0,15,8
17641,1,0,0,1,1,0,0,0,6.704414,customer service associate seek individual con...,0,2,5,11,0,9
4681,0,0,0,1,1,0,0,0,6.654153,optical sale new optometric practice seek time...,0,1,2,0,21,3
3712,0,1,1,1,1,0,0,0,7.532624,software development life cycle title service ...,0,4,3,1,5,6
5870,0,0,0,1,1,0,0,0,8.396155,project manager new product introduction aeros...,0,1,2,0,0,2
17705,0,0,0,1,1,0,0,0,6.862758,admin assistant job descriptionadministrative ...,0,1,5,0,3,9
17526,0,0,0,1,1,1,1,0,7.535297,payroll data entry clerk position earn daily j...,0,1,1,3,25,9
17647,0,0,0,1,1,0,0,0,6.867974,admin assistant job description administrative...,0,1,5,0,3,9
12816,0,1,0,0,0,0,0,0,8.443977,project qa engineer aker solution global provi...,0,1,2,2,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267,1,1,0,0,0,0,0,0,6.971669,customer service representative american secur...,0,1,5,3,22,1
3327,1,0,0,1,1,0,1,0,6.930495,customer assistant job description look custom...,6,2,2,0,0,2
4449,0,0,0,1,1,0,0,0,8.513587,oil gas asset manager position summarythe asse...,0,1,2,0,15,8
8723,0,0,0,1,1,0,0,0,8.008698,hire business intelligence analytic project ma...,0,1,3,0,5,6
9832,0,1,1,0,0,0,1,1,8.335671,plant operator macpherson oil refined resource...,0,1,3,3,15,7
998,0,1,0,0,0,0,0,0,7.662468,executive sous chef le meridien situate heart ...,9,4,6,0,40,2
2015,0,0,1,1,1,0,0,0,6.591674,assistant account position exciting opportunit...,4,3,2,0,0,2
17830,0,0,0,1,1,0,0,0,7.386471,android developer infullmobile sp z o.o mobile...,5,2,2,0,0,2
4355,0,0,0,1,1,0,0,0,7.965893,management system administrator corporate over...,0,2,2,0,15,8
17831,0,0,0,1,1,0,0,0,6.674561,payroll clerk job descriptionwe seek time payr...,0,1,2,0,54,27
7178,0,1,1,0,0,0,0,0,7.995980,fraud detection analyst industry large supply ...,0,1,3,3,58,31
16803,0,1,0,0,0,0,0,0,7.724447,compliance specialist maynard consult company ...,0,4,4,1,67,27
7667,1,0,0,1,1,0,0,0,6.693324,datum entry typist seek individual connect com...,0,2,5,11,0,9
5530,0,0,0,1,1,0,0,0,6.335054,datum administrative position look time self s...,0,1,1,4,0,9
6636,0,0,0,1,1,0,0,0,8.003029,executive chef responsible food production inc...,9,2,2,0,0,2
17589,0,0,0,1,1,1,1,0,7.535297,payroll data entry clerk position earn daily j...,0,1,1,3,25,9
8684,0,1,0,0,0,0,0,0,7.710205,payroll clerk dyncorp international commitment...,0,1,5,3,50,24
4537,1,1,0,0,0,0,0,0,7.075809,customer service representative gary cartwrigh...,0,1,5,3,34,1
815,0,1,1,0,0,0,0,0,8.117014,project manager engineer staffing & recruiting...,0,1,3,1,15,19
5027,0,0,0,1,1,0,1,0,7.582229,administrative worker want commit wellbeing pl...,3,2,2,0,0,2
17818,0,0,0,1,1,0,0,0,5.283204,csr hire csr advertising representative work h...,0,3,5,0,4,2
17754,0,0,0,1,1,0,0,0,6.828712,network marketing look month look pay vacation...,0,1,1,4,1,0
6575,0,0,1,1,1,0,0,0,5.484797,home base commission role variety commission b...,0,0,2,4,1,7
14271,0,0,0,1,1,0,0,0,3.784190,northwestern hospital build website,8,2,2,0,0,2
3368,0,0,0,1,1,0,0,0,7.979339,executive chef responsible food production inc...,9,4,6,0,40,2
5444,0,1,1,0,0,0,0,0,6.833032,control engineer st louis mo system technology...,0,1,3,8,43,8
11767,0,1,1,0,0,0,0,0,8.491670,customer success district manager aptitude sta...,0,1,3,1,5,14
3942,1,1,0,0,0,0,0,0,7.075809,customer service representative gary cartwrigh...,0,1,5,3,34,1
17576,0,0,0,1,1,0,0,0,6.033086,customer service rep seek customer service rep...,0,1,2,0,0,1
17689,0,0,0,1,1,0,0,0,7.001246,user experience designer | mobile look ux desi...,7,1,3,2,48,28

In [26]:
X_train1=X_train[y_train==0].iloc[0::3].append(X_train[y_train==1])
#print(X_train1)
X_train2=X_train[y_train==0].iloc[1::3].append(X_train[y_train==1])
#print(X_train2)
X_train3=X_train[y_train==0].iloc[2::3].append(X_train[y_train==1])
#print(X_train3)

In [27]:
y_train1=y_train[y_train==0].iloc[0::3].append(y_train[y_train==1])
#print(y_train1)
y_train2=y_train[y_train==0].iloc[1::3].append(y_train[y_train==1])
#print(y_train2)
y_train3=y_train[y_train==0].iloc[2::3].append(y_train[y_train==1])
#print(y_train3)

In [28]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(sampling_strategy=0.6, random_state= 42)
X_train1_resampled, y_train1_resampled = ros.fit_resample(X_train1, y_train1)
X_train2_resampled, y_train2_resampled = ros.fit_resample(X_train2, y_train2)
X_train3_resampled, y_train3_resampled = ros.fit_resample(X_train3, y_train3)

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC

vectorizer = CountVectorizer(ngram_range=(1,2)) # looking for both unigrams and bigrams
clf = LinearSVC(C=0.01, class_weight='balanced', random_state=42)
bowpipe = Pipeline([('vectorizer', vectorizer), ('clf', clf)])
bowpipe.fit(X_train1_resampled['cleaned_text'], y_train1_resampled)

Pipeline(steps=[('vectorizer', CountVectorizer(ngram_range=(1, 2))),
                ('clf',
                 LinearSVC(C=0.01, class_weight='balanced', random_state=42))])

In [39]:
bow_predict=bowpipe.predict(X_test['cleaned_text'])

4470

In [40]:
from sklearn.metrics import accuracy_score, classification_report
print("accuracy:", accuracy_score(y_test, bow_predict))
print(classification_report(y_test, bow_predict))

accuracy: 0.9751677852348993
              precision    recall  f1-score   support

           0       0.99      0.98      0.99      4254
           1       0.70      0.85      0.77       216

    accuracy                           0.98      4470
   macro avg       0.85      0.91      0.88      4470
weighted avg       0.98      0.98      0.98      4470

In [41]:
mappings

{'Marketing': 0,
 'Customer Service': 1,
 'na': 2,
 'Sales': 3,
 'Health Care Provider': 4,
 'Management': 5,
 'Information Technology': 6,
 'Other': 7,
 'Engineering': 8,
 'Administrative': 9,
 'Design': 10,
 'Production': 11,
 'Education': 12,
 'Supply Chain': 13,
 'Business Development': 14,
 'Product Management': 15,
 'Financial Analyst': 16,
 'Consulting': 17,
 'Human Resources': 18,
 'Project Management': 19,
 'Manufacturing': 20,
 'Public Relations': 21,
 'Strategy/Planning': 22,
 'Advertising': 23,
 'Finance': 24,
 'General Business': 25,
 'Research': 26,
 'Accounting/Auditing': 27,
 'Art/Creative': 28,
 'Quality Assurance': 29,
 'Data Analyst': 30,
 'Business Analyst': 31,
 'Writing/Editing': 32,
 'Distribution': 33,
 'Science': 34,
 'Training': 35,
 'Purchasing': 36,
 'Legal': 37}

In [45]:
test=pd.read_csv("test.csv")
test

,job_id,telecommuting,has_company_logo,has_questions,missing_company_profile,missing_salary_range,title_mention_$,email_link,phone_link,text_length,cleaned_text,location_new,employment_type_new,required_experience_new,required_education_new,industry_new,function_new
0,1,0,1,0,0,0,0,0,0,7.887584,marketing intern food52 create groundbreaking ...,0,0,0,0,0,0

In [46]:
y_pred=bowpipe.predict(test['cleaned_text'])
y_pred

array([0], dtype=int64)

In [47]:
test['cleaned_text']

0    marketing intern food52 create groundbreaking ...
Name: cleaned_text, dtype: object