In [1]:
import numpy as np
import pandas as pd
import joblib

In [2]:
df=pd.read_csv('cleaned_data.csv')
print(df.head())

   job_id                                      title location department  \
0       1                           Marketing Intern       US  Marketing
1       2  Customer Service - Cloud Video Production       NZ    Success
2       3    Commissioning Machinery Assistant (CMA)       US         na
3       4          Account Executive - Washington DC       US      Sales
4       5                        Bill Review Manager       US         na

  salary_range                                    company_profile  \
0           na  We're Food52, and we've created a groundbreaki...
1           na  90 Seconds, the worlds Cloud Video Production ...
2           na  Valor Services provides Workforce Solutions th...
3           na  Our passion for improving quality of life thro...
4           na  SpotSource Solutions LLC is a Global Human Cap...

                                         description  \
0  Food52, a fast-growing, James Beard Award-winn...
1  Organised - Focused - Vibrant - Awesome!Do you...
2  Our client, located in Houston, is actively se...
3  THE COMPANY: ESRI – Environmental Systems Rese...
4  JOB TITLE: Itemization Review ManagerLOCATION:...

                                        requirements  \
0  Experience with content management systems a m...
1  What we expect from you:Your key responsibilit...
2  Implement pre-commissioning and commissioning ...
3  EDUCATION: Bachelor’s or Master’s in GIS, busi...
4  QUALIFICATIONS:RN license in the State of Texa...

                                            benefits  telecommuting  \
0                                                                 0
1  What you will get from usThrough being part of...              0
2                                                                 0
3  Our culture is anything but corporate—we have ...              0
4                              Full Benefits Offered              0

                         ...                                      function  \
0                        ...                                     Marketing
1                        ...                              Customer Service
2                        ...                                            na
3                        ...                                         Sales
4                        ...                          Health Care Provider

   fraudulent missing_company_profile missing_salary_range title_mention_$  \
0           0                       0                    0               0
1           0                       0                    0               0
2           0                       0                    0               0
3           0                       0                    0               0
4           0                       0                    0               0

                                                text email_link  phone_link  \
0  Marketing Intern We're Food52, and we've creat...          0           0
1  Customer Service - Cloud Video Production 90 S...          0           0
2  Commissioning Machinery Assistant (CMA) Valor ...          0           0
3  Account Executive - Washington DC Our passion ...          0           0
4  Bill Review Manager SpotSource Solutions LLC i...          0           1

   text_length                                       cleaned_text
0     7.887584  marketing intern food52 create groundbreaking ...
1     8.721602  customer service cloud video production second...
2     7.879291  commission machinery assistant cma valor servi...
3     8.605753  account executive washington dc passion improv...
4     8.281471  bill review manager spotsource solution llc gl...

[5 rows x 26 columns]

In [3]:
def find_category_mappings(df, variable):
    return {k: i for i, k in enumerate(df[variable].unique())}
def integer_encode(finaldf,variable, ordinal_mapping):
    df[variable+"_new"] = df[variable].map(ordinal_mapping)
for variable in ['location','employment_type','required_experience','required_education','industry','function']:
    mappings = find_category_mappings(df,variable)
    file=open(variable+".txt",'w')
    file.write(str(mappings))
    file.close()
    integer_encode(df, variable, mappings)
df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,...,email_link,phone_link,text_length,cleaned_text,location_new,employment_type_new,required_experience_new,required_education_new,industry_new,function_new
0,1,Marketing Intern,US,Marketing,na,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,,0,...,0,0,7.887584,marketing intern food52 create groundbreaking ...,0,0,0,0,0,0
1,2,Customer Service - Cloud Video Production,NZ,Success,na,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,...,0,0,8.721602,customer service cloud video production second...,1,1,1,0,1,1
2,3,Commissioning Machinery Assistant (CMA),US,na,na,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,,0,...,0,0,7.879291,commission machinery assistant cma valor servi...,0,2,2,0,0,2
3,4,Account Executive - Washington DC,US,Sales,na,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,...,0,0,8.605753,account executive washington dc passion improv...,0,1,3,1,2,3
4,5,Bill Review Manager,US,na,na,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,...,0,1,8.281471,bill review manager spotsource solution llc gl...,0,1,3,1,3,4

In [4]:
X=df.drop(['job_id','cleaned_text','text','location','employment_type','required_experience','required_education','industry','function','fraudulent','title','department','salary_range','company_profile','description','requirements','benefits'], axis=1)
X.head()

,telecommuting,has_company_logo,has_questions,missing_company_profile,missing_salary_range,title_mention_$,email_link,phone_link,text_length,location_new,employment_type_new,required_experience_new,required_education_new,industry_new,function_new
0,0,1,0,0,0,0,0,0,7.887584,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,8.721602,1,1,1,0,1,1
2,0,1,0,0,0,0,0,0,7.879291,0,2,2,0,0,2
3,0,1,0,0,0,0,0,0,8.605753,0,1,3,1,2,3
4,0,1,1,0,0,0,0,1,8.281471,0,1,3,1,3,4

In [5]:
X['text_length']

0        7.887584
1        8.721602
2        7.879291
3        8.605753
4        8.281471
5        8.143808
6        7.849324
7        8.433377
8        7.503290
9        7.907284
10       8.681181
11       7.925519
12       8.099554
13       7.472501
14       7.703459
15       8.483430
16       7.077498
17       7.217443
18       7.584265
19       7.988882
20       8.141481
21       8.465057
22       8.584291
23       8.223895
24       6.030685
25       8.873888
26       7.613325
27       7.544332
28       7.583248
29       7.905810
           ...
17850    7.168580
17851    8.264363
17852    7.081709
17853    7.083388
17854    7.583248
17855    7.404888
17856    8.449984
17857    7.393263
17858    7.817223
17859    6.843750
17860    7.043160
17861    8.004700
17862    7.680637
17863    7.712444
17864    7.698483
17865    8.106816
17866    7.863267
17867    6.720220
17868    7.022868
17869    6.651572
17870    7.901748
17871    7.781139
17872    7.867489
17873    7.634821
17874    6.218600
17875    8.578665
17876    8.464003
17877    7.944137
17878    7.127694
17879    8.434898
Name: text_length, Length: 17880, dtype: float64

In [6]:
y=df['fraudulent']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: fraudulent, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.25, random_state=50, stratify=y)

In [8]:
X_train1=X_train[y_train==0].iloc[0::3].append(X_train[y_train==1])
#print(X_train1)
X_train2=X_train[y_train==0].iloc[1::3].append(X_train[y_train==1])
#print(X_train2)
X_train3=X_train[y_train==0].iloc[2::3].append(X_train[y_train==1])
#print(X_train3)

In [9]:
y_train1=y_train[y_train==0].iloc[0::3].append(y_train[y_train==1])
#print(y_train1)
y_train2=y_train[y_train==0].iloc[1::3].append(y_train[y_train==1])
#print(y_train2)
y_train3=y_train[y_train==0].iloc[2::3].append(y_train[y_train==1])
#print(y_train3)

In [10]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(sampling_strategy=0.6, random_state= 42)
X_train1_resampled, y_train1_resampled = ros.fit_resample(X_train1, y_train1)
X_train2_resampled, y_train2_resampled = ros.fit_resample(X_train2, y_train2)
X_train3_resampled, y_train3_resampled = ros.fit_resample(X_train3, y_train3)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC

#vectorizer = CountVectorizer(ngram_range=(1,2)) # looking for both unigrams and bigrams
clf_svm = LinearSVC(C=0.01, class_weight='balanced', random_state=42)
clf_svm.fit(X_train1_resampled, y_train1_resampled)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\_base.py:986: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=0.01, class_weight='balanced', random_state=42)

In [12]:
from sklearn.ensemble import RandomForestClassifier

clf_rf = RandomForestClassifier(max_depth=2, random_state=0)
clf_rf.fit(X_train1_resampled, y_train1_resampled)

RandomForestClassifier(max_depth=2, random_state=0)

In [15]:
#y_pred_svm=clf_svm.predict(X_test.iloc[0:1,:])
#np.max(y_pred_svm)
y_pred_svm=clf_svm.predict(X_test)
y_pred_rf=clf_rf.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score, classification_report
print("\nsvm\n")
print("accuracy:", accuracy_score(y_test, y_pred_svm))
print(classification_report(y_test, y_pred_svm))
print("\nrandom forest\n")
print("accuracy:", accuracy_score(y_test, y_pred_rf))
print(classification_report(y_test, y_pred_rf))

svm

accuracy: 0.8170022371364654
              precision    recall  f1-score   support

           0       0.98      0.82      0.90      4254
           1       0.17      0.75      0.28       216

    accuracy                           0.82      4470
   macro avg       0.58      0.79      0.59      4470
weighted avg       0.95      0.82      0.87      4470


random forest

accuracy: 0.859731543624161
              precision    recall  f1-score   support

           0       0.98      0.87      0.92      4254
           1       0.20      0.66      0.31       216

    accuracy                           0.86      4470
   macro avg       0.59      0.76      0.62      4470
weighted avg       0.94      0.86      0.89      4470

In [18]:
import pickle
filename = 'model.sav'
pickle.dump(clf_svm, open(filename, 'wb'))

In [ ]:
"""test_data=X_test.iloc[0:1,:]
test_data.to_csv("test.csv")"""

In [ ]:
import pickle
filename = 'model_rf.sav'
pickle.dump(clf_rf, open(filename, 'wb'))